<form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
        <label for="1">ID</label>
        <input type="number" class="form-control" id="1" ngModel name="Id">
    </div>
    <div class="form-group">
        <label for="2">Name</label>
        <input type="text" class="form-control" id="2" ngModel name="Name">
    </div>
    <div class="form-group">
        <label for="3">Status</label>
        <input type="text" class="form-control" id="3" ngModel name="Status">
    </div>
    <button class="btn btn-primary" type="submit">Add</button>    
</form>
